body {
  background-color: rgb(153, 205, 243);
}

.context {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #2f1f94;
  text-shadow: 2px 2px 5px #00000075;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.input {
  display: block;
  margin-bottom: 15px;
  width: 75%;
  background-color: #fefefee6;
  color: grey;
  font-size: 18px;
  border: none;
  box-shadow: 2px 2px 2px 1px #9c9a9a78;
}

button {
  height: 25px;
  width: 70px;
  margin: 5px 0;
  background-color: #725df9;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  
}

.output-area {
  height: 150px;
  width: 75%;
  margin: 5px 0;
  padding: 5px;
  background-color: #725df999;
  box-shadow: 2px 2px 2px 1px #9c9a9a78;
  color: white;
}

p {
  margin: 0;
}
